asgiref==3.8.1
async-timeout==5.0.1
bleach==6.2.0
boto3==1.37.33
botocore==1.37.33
certifi==2025.1.31
channels==4.2.2
channels-redis==4.2.1
daphne==4.1.2
charset-normalizer==3.4.1
Django==5.2
django-axes==7.0.2
django-cors-headers==4.7.0
django-filter==25.1
django-redis==5.4.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
jmespath==1.0.1
Markdown==3.8
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
qrcode==8.1
redis==5.2.1
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
webencodings==0.5.1
gunicorn==23.0.0
django-extensions==3.2.3